* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: rgb(43, 80, 108);
    --color-secondary: rgb(86, 165, 127);
    --color-white: white;
    --color-black: rgb(0, 0, 0);
    --color-gray0: gray;
    --color-gray1: rgb(123, 110, 110);
    --color-gray2: rgb(77, 66, 66);
    --color-gray3: rgb(145, 131, 131);
    --color-gray4: rgb(129, 113, 113);
    --color-gray5: rgb(176, 128, 136);
    --color-gray6: rgb(124, 30, 101);
    --br-sm-2: 14px;
    --box-shadow-1: 0px 3px 18px rgb(255, 255, 255);
    --box-shadow-2: 0px 3px 18px rgb(85, 155, 113);

}

body {
    font-family: 'Edu TAS Beginner', cursive;
    background-color: var(--color-primary);
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.section {
    background-color: var(--color-primary);
    transform: scale(0) translateY(-50%);
    transition: all .4s ease-in-out;
}

.sec1 {
    display: none;
    transform: scale(1) translateY(0);
    background-color: rgb(49, 1, 49);
}

.sec2 {
    display: none;
    transform: scale(1) translateY(0);
    background-color: yellow;
}

.sec3 {
    display: none;
    transform: scale(1) translateY(0);
    background-color: red;
}

.sec4 {
    display: none;
    transform: scale(1) translateY(0);
}

.sec5 {
    display: none;
    transform: scale(1) translateY(0);
}

.controlls {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 26%;
    right: 3rem;
    gap: 1.8rem;
    transition: all .55s ease-in-out;

    .active-btn {
        background-color: var(--color-secondary) !important;
        transition: all .55s ease-in-out;

        i {
            color: var(--color-white) !important;
        }
    }

    .control {
        cursor: pointer;
        background-color: var(--color-gray4);
        align-items: center;
        width: 55px;
        height: 55px;
        border: 1px solid transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        box-shadow: var(--box-shadow-1);

        i {
            font-size: 1.3rem;
            color: var(--color-gray2);
            pointer-events: none;
        }
    }

    .control:hover {
        transform: translateY(-5px);
        box-shadow: var(--box-shadow-2);
    }
}