* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: rgb(9, 36, 56);
    --color-secondary: rgb(86, 165, 127);
    --color-white: white;
    --color-black: rgb(0, 0, 0);
    --color-gray0: gray;
    --color-gray1: rgb(123, 110, 110);
    --color-gray2: rgb(77, 66, 66);
    --color-gray3: rgb(145, 131, 131);
    --color-gray4: rgb(129, 113, 113);
    --color-gray5: rgb(176, 128, 136);
    --color-gray6: rgb(124, 30, 101);
    --br-sm-2: 14px;
    --box-shadow-1: 0px 3px 18px rgb(255, 255, 255);
    --box-shadow-2: 0px 3px 30px rgb(255, 255, 255);

}

body {
    font-family: 'Edu TAS Beginner', cursive;
    background-color: var(--color-primary);
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.section {
    background-color: var(--color-primary);
    transform: scale(0) translateY(-50%);
    transition: all .4s ease-in-out;
}

.sec1 {
    display: none;
    transform: scale(1) translateY(0);

}

.sec2 {
    display: none;
    transform: scale(1) translateY(0);
}

.sec3 {
    display: none;
    transform: scale(1) translateY(0);
}

.sec4 {
    display: none;
    transform: scale(1) translateY(0);
}

.sec5 {
    display: none;
    transform: scale(1) translateY(0);
}

.active {
    display: block;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-name: activeAnimation;

    @keyframes activeAnimation {
        from {
            transform: translateX(-200px) scale(1);
        }
    }
}

.controlls {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 26%;
    right: 3rem;
    gap: 1.8rem;
    transition: all .05s ease-in-out;

    .active-btn {
        background-color: var(--color-secondary) !important;
        transition: all .55s ease-in-out;

        i {
            color: var(--color-white) !important;
        }
    }

    .control {
        cursor: pointer;
        background-color: var(--color-gray4);
        align-items: center;
        width: 55px;
        height: 55px;
        border: 1px solid transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        box-shadow: var(--box-shadow-1);

        i {
            font-size: 1.3rem;
            color: var(--color-gray2);
            pointer-events: none;
        }
    }

    .control:hover {
        transform: translateY(-8px);
        box-shadow: var(--box-shadow-2);
    }
}

.main-content {
    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: absolute;
        top: 3%;

        .left-header {
            display: flex;
            align-items: center;

            .h-shape {
                clip-path: polygon(10% 0, 3% 0%, 10% 80%, 1% 100%); // ( genişlik yükseklik )
                background-color: var(--color-secondary);
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }

            .w-shape {
                clip-path: polygon(10% 5%, 20% 10%, 0% 80%, 5% 100%);
                background-color: rgb(167, 66, 83);
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }

            img {
                clip-path: circle(28%);
                position: relative;
                left: -53px;
                filter: contrast(150%);
            }
        }

        .right-header {
            display: flex;
            flex-direction: column;

            .p {
                width: 750px;
                margin-top: 1.5rem;
                margin-bottom: 1rem;
                line-height: 2rem;
                font-size: 1.5rem;
            }

            .name {
                font-size: 3rem;

                span {
                    color: var(--color-secondary);
                }
            }
        }
    }

    .about-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 3.5rem;
        padding-bottom: 2rem;
        gap: 5rem;

        .right-about {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .about-item {
                border: 5px solid var(--color-gray5);
                border-radius: 8px;
                box-shadow: 0px 0px 70px rgb(128, 35, 134);
                transition: all .5s ease-in-out;

                &:hover {
                    cursor: default;
                    transform: translateY(-5px);
                    border-color: var(--color-secondary);
                }

                .abt-text {
                    padding: 1.5rem;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;

                    .large-text {
                        font-size: 3rem;
                        font-weight: 700;
                    }

                    .small-text {}
                }
            }
        }
    }

    .btn-con {
        margin-top: 2rem;


        .main-btn {
            border: 3px solid var(--color-secondary);
            border-radius: 30px;
            color: inherit;
            font-weight: 700;
            padding: 14px;
            transition: all .5s ease-out;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 270px;
            height: 70px;

            .btn-text {
                background-color: transparent;
            }

            .btn-icon {
                border: 2px solid var(--color-secondary);
                border-radius: 30px;
                padding: 14px;
                background-color: var(--color-secondary);
            }

            &:hover {
                background-color: rgba(221, 136, 170, 0.595);
                color: rgba(0, 0, 0, 0.706);
                transform: translateY(-300);
            }
        }
    }

    .main {
        .about {
            .main-title {
                text-align: center;

                h2 {
                    position: relative;
                    text-transform: uppercase;
                    font-size: 4rem;
                    font-weight: 700;
                    font-family: 'Times New Roman', Times, serif;
                }

                span {
                    color: var(--color-secondary);
                }

                .bg-text {
                    width: 800px;
                    color: var(--color-gray2);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 6.3rem;
                    font-family: 'Times New Roman', Times, serif;
                    z-index: -1;
                    transform: translate(-50%, -50%);
                    font-weight: 800;
                }
            }
        }
    }

}