* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: rgb(9, 36, 56);
    --color-secondary: rgb(86, 165, 127);
    --color-white: white;
    --color-black: rgb(0, 0, 0);
    --color-gray0: gray;
    --color-gray1: rgb(123, 110, 110);
    --color-gray2: rgb(77, 66, 66);
    --color-gray3: rgb(145, 131, 131);
    --color-gray4: rgb(129, 113, 113);
    --color-gray5: rgb(176, 128, 136);
    --color-gray6: rgb(124, 30, 101);
    --br-sm-2: 14px;
    --box-shadow-1: 0px 3px 18px rgb(255, 255, 255);
    --box-shadow-2: 0px 3px 30px rgb(255, 255, 255);

}

body {
    font-family: 'Edu TAS Beginner', cursive;
    background-color: var(--color-primary);
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.section {
    background-color: var(--color-primary);
    transform: scale(0) translateY(-50%);
    transition: all .4s ease-in-out;
}

.sec1 {
    display: none;
    transform: scale(1) translateY(0);

}

.sec2 {
    display: none;
    transform: scale(1) translateY(0);
}

.sec3 {
    display: none;
    transform: scale(1) translateY(0);
}

.sec4 {
    display: none;
    transform: scale(1) translateY(0);
}

.sec5 {
    display: none;
    transform: scale(1) translateY(0);
}

.active {
    display: block;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-name: activeAnimation;

    @keyframes activeAnimation {
        from {
            transform: translateX(-200px) scale(1);
        }
    }
}

.controlls {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 26%;
    right: 3rem;
    gap: 1.8rem;
    transition: all .05s ease-in-out;

    .active-btn {
        background-color: var(--color-secondary) !important;
        transition: all .55s ease-in-out;

        i {
            color: var(--color-white) !important;
        }
    }

    .control {
        cursor: pointer;
        background-color: var(--color-gray4);
        align-items: center;
        width: 55px;
        height: 55px;
        border: 1px solid transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        box-shadow: var(--box-shadow-1);

        i {
            font-size: 1.3rem;
            color: var(--color-gray2);
            pointer-events: none;
        }
    }

    .control:hover {
        transform: translateY(-8px);
        box-shadow: var(--box-shadow-2);
    }
}

.main-content {
    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20rem;
        position: absolute;
        top: 18%;

        .left-header {
            display: flex;
            align-items: center;
            justify-content: center;

            .h-shape {
                clip-path: polygon(10% 0, 3% 0%, 10% 80%, 1% 100%); // ( genişlik yükseklik )
                background-color: var(--color-secondary);
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }

            .w-shape {
                clip-path: polygon(10% 5%, 20% 10%, 0% 80%, 5% 100%);
                background-color: rgb(167, 66, 83);
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }

            img {
                clip-path: circle(28%);
                position: relative;
                right: -150px;
                filter: contrast(150%);
            }
        }

        .right-header {
            display: flex;
            flex-direction: column;

            .p {
                width: 750px;
                margin-top: 1.5rem;
                margin-bottom: 1rem;
                line-height: 2rem;
                font-size: 1.5rem;
            }

            .name {
                font-size: 3rem;

                span {
                    color: var(--color-secondary);
                }
            }
        }
    }

    .about-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 3.5rem;
        padding-bottom: 2rem;
        gap: 3rem;
        align-items: center;

        .right-about {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .about-item {
                border: 5px solid var(--color-gray1);
                border-radius: 8px;
                box-shadow: 0px 0px 70px rgb(174, 181, 81);
                transition: all .5s ease-in-out;
                margin: 2rem;
                background-color: rgb(0, 0, 0);

                &:hover {
                    cursor: pointer;
                    transform: translateY(-8px);
                    border-color: var(--color-secondary);
                }

                .abt-text {
                    padding: 2rem;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    .large-text {
                        font-size: 3rem;
                        font-weight: 700;
                        color: var(--color-secondary);
                    }

                    .small-text {
                        padding-left: 4rem;
                        position: relative;
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        font-weight: 700;
                        letter-spacing: .5rem;
                        color: var(--color-gray4);

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 15px;
                            width: 2rem;
                            height: 4px;
                            align-items: center;
                            background-color: rgb(92, 55, 61);
                        }
                    }
                }
            }
        }

        .left-about {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h4 {
                color: rgba(0, 0, 0);
                font-size: 2.5rem;
                text-shadow: 1px -5px 5px rgb(255, 255, 255);
                text-transform: uppercase;
                font-weight: 700;
            }

            p {
                font-size: 20px;
                letter-spacing: 2px;
                line-height: 2rem;
                color: var(--color-gray0);
            }

            .btn-con {
                align-self: flex-start;
            }

        }
    }

    .about-stats {

        //    position: relative;
        .progress-bars {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .progress-bar {
                display: flex;

                .prog-title {
                    text-transform: uppercase;
                    font-weight: 500;
                    width: 200px;
                }

                .progress-con {
                    display: flex;
                    align-items: center;
                    margin-left: 80px;

                    .prog-text {
                        color: var(--color-gray5);
                    }

                    .progress {
                        width: 50%;
                        height: .45rem;
                        margin-left: 5rem;
                        background-color: rgb(254, 254, 255);
                        position: absolute;

                        span {
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: var(--color-secondary);
                            height: 100%;
                            transition: all 8s ease-in-out;
                        }

                        .html1 {
                            width: 90%;
                        }

                        .html2 {
                            width: 70%;
                        }

                        .html3 {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    .timeline {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        justify-content: space-evenly;

        .timeline-item {
            display: flex;
            justify-content: space-evenly;
            gap: 4rem;
            align-items: center;

            .timeline-icon {
                i {
                    font-size: 2rem;
                    color: rgb(219, 128, 128);

                }

            }

            .timeline-duration {
                display: flex;
                color: inherit;
                text-transform: uppercase;
                align-items: center;
                border-radius: 30px;
                border: 1px solid transparent;
                background-color: var(--color-gray5);
                padding: 10px 20px;
                font-size: 15px;
            }

            h5 {
                display: flex;
                text-transform: uppercase;
                gap: 1rem;
                align-items: center;
                font-size: 20px;
            }

            span {
                color: rgb(255, 0, 128);
            }

            p {
                display: inline-block;
                font-size: 1.3rem;
                color: rgb(55, 130, 130);
            }
        }
    }

    .stat-title {
        font-size: 3rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
        color: rgb(6, 6, 6);
        text-shadow: 1px -5px 5px white;
        text-transform: uppercase;
        text-align: center;
    }

    .btn-con {
        margin-top: 1rem;


        .main-btn {
            border: 3px solid var(--color-secondary);
            border-radius: 30px;
            color: inherit;
            font-weight: 700;
            padding: 8px 0 8px 8px;
            transition: all .5s ease-out;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 200px;
            height: 50px;

            .btn-text {
                background-color: transparent;
            }

            .btn-icon {
                border: 3px solid var(--color-secondary);
                border-radius: 30px;
                padding: 10px;
                background-color: var(--color-secondary);
            }

            &:hover {
                background-color: rgba(248, 248, 248, 0.753);
                color: rgba(0, 0, 0, 0.706);
                transform: translateY(-300);
            }
        }
    }

    .main-title {
        text-align: center;

        h2 {
            position: relative;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: 700;
            font-family: 'Times New Roman', Times, serif;
        }

        span {
            color: var(--color-secondary);
        }

        .bg-text {
            width: 800px;
            color: var(--color-gray2);
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 6.3rem;
            font-family: 'Times New Roman', Times, serif;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
        }
    }

    .port-text {
        margin: 6rem 0rem;
        text-align: center;
    }

    .portfolios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 2rem;

        .portfolio-item {
            .image {
                img {
                    width: 120%;
                    border: 5px solid transparent;
                    border-radius: 12px;
                }
            }

            .hover-items {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                opacity: 0;
                transform: scale(0);
                h3 {
                    font-size: 1.5rem;
                    color: var(--color-white);
                    margin-right: 2rem;
                }

                .icons {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    font-size: 2.5rem;
                    .icon-github {
                        color: rgb(31, 95, 127);                       
                    }

                    .icon-medium {
                        color: purple;
                    }

                    .icon-linkedin {
                        color: rgb(86, 86, 225);
                    }
                }

            }
            .hover-items:hover{
                opacity: 1;
                transform: scale(1);
            }
        }
    }


}