* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: rgb(43, 80, 108);
  --color-secondary: rgb(86, 165, 127);
  --color-white: white;
  --color-black: rgb(0, 0, 0);
  --color-gray0: gray;
  --color-gray1: rgb(123, 110, 110);
  --color-gray2: rgb(77, 66, 66);
  --color-gray3: rgb(145, 131, 131);
  --color-gray4: rgb(129, 113, 113);
  --color-gray5: rgb(176, 128, 136);
  --color-gray6: rgb(124, 30, 101);
  --br-sm-2: 14px;
  --box-shadow-1: 0px 3px 18px rgb(255, 255, 255);
  --box-shadow-2: 0px 3px 30px rgb(255, 255, 255);
}

body {
  font-family: "Edu TAS Beginner", cursive;
  background-color: var(--color-primary);
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.section {
  background-color: var(--color-primary);
  transform: scale(0) translateY(-50%);
  transition: all 0.4s ease-in-out;
}

.sec1 {
  display: none;
  transform: scale(1) translateY(0);
}

.sec2 {
  display: none;
  transform: scale(1) translateY(0);
}

.sec3 {
  display: none;
  transform: scale(1) translateY(0);
}

.sec4 {
  display: none;
  transform: scale(1) translateY(0);
}

.sec5 {
  display: none;
  transform: scale(1) translateY(0);
}

.active {
  display: block;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-name: activeAnimation;
  animation-delay: 0.1s;
}
@keyframes activeAnimation {
  from {
    transform: translateY(-500px) scale(1.8);
  }
}

.controlls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 26%;
  right: 3rem;
  gap: 1.8rem;
  transition: all 0.55s ease-in-out;
}
.controlls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.55s ease-in-out;
}
.controlls .active-btn i {
  color: var(--color-white) !important;
}
.controlls .control {
  cursor: pointer;
  background-color: var(--color-gray4);
  align-items: center;
  width: 55px;
  height: 55px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: var(--box-shadow-1);
}
.controlls .control i {
  font-size: 1.3rem;
  color: var(--color-gray2);
  pointer-events: none;
}
.controlls .control:hover {
  transform: translateY(-8px);
  box-shadow: var(--box-shadow-2);
}

.header-content {
  display: flex;
  align-items: center;
  gap: 14rem;
  margin-left: 20rem;
}
.header-content .left-header {
  display: flex;
  justify-content: center;
}
.header-content .left-header .h-shape {
  -webkit-clip-path: polygon(0 0, 8% 0, 25% 100%, 0% 100%);
          clip-path: polygon(0 0, 8% 0, 25% 100%, 0% 100%);
  background-color: var(--color-secondary);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.header-content .left-header img {
  position: relative;
  margin-top: 7rem;
  transition: all 0.5s ease-in-out;
}
.header-content .left-header img:hover {
  transform: translateX(-30px);
}
.header-content .right-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-content .right-header .p {
  width: 580px;
  margin-top: 3rem;
  margin-bottom: 4rem;
  line-height: 2rem;
  font-size: 1.5rem;
}
.header-content .right-header .name {
  font-size: 3rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
}
.header-content .right-header .main-btn .btn-text,
.header-content .right-header .main-btn .btn-icon {
  border: 3px solid transparent;
  border-radius: 30px;
  padding: 14px;
  transition: all 0.5s ease-in-out;
}
.header-content .right-header .main-btn .btn-text:hover,
.header-content .right-header .main-btn .btn-icon:hover {
  background-color: rgba(221, 136, 170, 0.595);
  color: rgba(0, 0, 0, 0.706);
  font-weight: 400;
}/*# sourceMappingURL=styles.css.map */