* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: rgb(9, 36, 56);
  --color-secondary: rgb(86, 165, 127);
  --color-white: white;
  --color-black: rgb(0, 0, 0);
  --color-gray0: gray;
  --color-gray1: rgb(123, 110, 110);
  --color-gray2: rgb(77, 66, 66);
  --color-gray3: rgb(145, 131, 131);
  --color-gray4: rgb(129, 113, 113);
  --color-gray5: rgb(176, 128, 136);
  --color-gray6: rgb(124, 30, 101);
  --br-sm-2: 14px;
  --box-shadow-1: 0px 3px 18px rgb(255, 255, 255);
  --box-shadow-2: 0px 3px 30px rgb(255, 255, 255);
}

body {
  font-family: "Edu TAS Beginner", cursive;
  background-color: var(--color-primary);
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.section {
  background-color: var(--color-primary);
  transform: scale(0) translateY(-50%);
  transition: all 0.4s ease-in-out;
}

.sec1 {
  display: none;
  transform: scale(1) translateY(0);
}

.sec2 {
  display: none;
  transform: scale(1) translateY(0);
}

.sec3 {
  display: none;
  transform: scale(1) translateY(0);
}

.sec4 {
  display: none;
  transform: scale(1) translateY(0);
}

.sec5 {
  display: none;
  transform: scale(1) translateY(0);
}

.active {
  display: block;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: activeAnimation;
}
@keyframes activeAnimation {
  from {
    transform: translateX(-200px) scale(1);
  }
}

.controlls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 26%;
  right: 3rem;
  gap: 1.8rem;
  transition: all 0.05s ease-in-out;
}
.controlls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.55s ease-in-out;
}
.controlls .active-btn i {
  color: var(--color-white) !important;
}
.controlls .control {
  cursor: pointer;
  background-color: var(--color-gray4);
  align-items: center;
  width: 55px;
  height: 55px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: var(--box-shadow-1);
}
.controlls .control i {
  font-size: 1.3rem;
  color: var(--color-gray2);
  pointer-events: none;
}
.controlls .control:hover {
  transform: translateY(-8px);
  box-shadow: var(--box-shadow-2);
}

.main-content .header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  position: absolute;
  top: 18%;
}
.main-content .header-content .left-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .header-content .left-header .h-shape {
  -webkit-clip-path: polygon(10% 0, 3% 0%, 10% 80%, 1% 100%);
          clip-path: polygon(10% 0, 3% 0%, 10% 80%, 1% 100%);
  background-color: var(--color-secondary);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.main-content .header-content .left-header .w-shape {
  -webkit-clip-path: polygon(10% 5%, 20% 10%, 0% 80%, 5% 100%);
          clip-path: polygon(10% 5%, 20% 10%, 0% 80%, 5% 100%);
  background-color: rgb(167, 66, 83);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.main-content .header-content .left-header img {
  -webkit-clip-path: circle(28%);
          clip-path: circle(28%);
  position: relative;
  right: -150px;
  filter: contrast(150%);
}
.main-content .header-content .right-header {
  display: flex;
  flex-direction: column;
}
.main-content .header-content .right-header .p {
  width: 750px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 2rem;
  font-size: 1.5rem;
}
.main-content .header-content .right-header .name {
  font-size: 3rem;
}
.main-content .header-content .right-header .name span {
  color: var(--color-secondary);
}
.main-content .about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  gap: 3rem;
  align-items: center;
}
.main-content .about-content .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main-content .about-content .right-about .about-item {
  border: 5px solid var(--color-gray1);
  border-radius: 8px;
  box-shadow: 0px 0px 70px rgb(174, 181, 81);
  transition: all 0.5s ease-in-out;
  margin: 2rem;
  background-color: rgb(0, 0, 0);
}
.main-content .about-content .right-about .about-item:hover {
  cursor: pointer;
  transform: translateY(-8px);
  border-color: var(--color-secondary);
}
.main-content .about-content .right-about .about-item .abt-text {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main-content .about-content .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.main-content .about-content .right-about .about-item .abt-text .small-text {
  padding-left: 4rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  color: var(--color-gray4);
}
.main-content .about-content .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 4px;
  align-items: center;
  background-color: rgb(92, 55, 61);
}
.main-content .about-content .left-about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-content .about-content .left-about h4 {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  text-shadow: 1px -5px 5px rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
}
.main-content .about-content .left-about p {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 2rem;
  color: var(--color-gray0);
}
.main-content .about-content .left-about .btn-con {
  align-self: flex-start;
}
.main-content .about-stats .progress-bars {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-content .about-stats .progress-bars .progress-bar {
  display: flex;
}
.main-content .about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
  width: 200px;
}
.main-content .about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
  margin-left: 80px;
}
.main-content .about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--color-gray5);
}
.main-content .about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 50%;
  height: 0.45rem;
  margin-left: 5rem;
  background-color: rgb(254, 254, 255);
  position: absolute;
}
.main-content .about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-secondary);
  height: 100%;
  transition: all 8s ease-in-out;
}
.main-content .about-stats .progress-bars .progress-bar .progress-con .progress .html1 {
  width: 90%;
}
.main-content .about-stats .progress-bars .progress-bar .progress-con .progress .html2 {
  width: 70%;
}
.main-content .about-stats .progress-bars .progress-bar .progress-con .progress .html3 {
  width: 30%;
}
.main-content .stat-title {
  font-size: 3rem;
  margin: 3rem 0;
  color: rgb(6, 6, 6);
  text-shadow: 1px -5px 5px white;
  text-transform: uppercase;
  text-align: center;
}
.main-content .btn-con {
  margin-top: 1rem;
}
.main-content .btn-con .main-btn {
  border: 3px solid var(--color-secondary);
  border-radius: 30px;
  color: inherit;
  font-weight: 700;
  padding: 8px 0 8px 8px;
  transition: all 0.5s ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
}
.main-content .btn-con .main-btn .btn-text {
  background-color: transparent;
}
.main-content .btn-con .main-btn .btn-icon {
  border: 3px solid var(--color-secondary);
  border-radius: 30px;
  padding: 10px;
  background-color: var(--color-secondary);
}
.main-content .btn-con .main-btn:hover {
  background-color: rgba(248, 248, 248, 0.753);
  color: rgba(0, 0, 0, 0.706);
  transform: translateY(-300);
}
.main-content .main .about .main-title {
  text-align: center;
}
.main-content .main .about .main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}
.main-content .main .about .main-title span {
  color: var(--color-secondary);
}
.main-content .main .about .main-title .bg-text {
  width: 800px;
  color: var(--color-gray2);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6.3rem;
  font-family: "Times New Roman", Times, serif;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
}/*# sourceMappingURL=styles.css.map */